@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(45deg, #25003a, #300055, #580081,#5f00a8, #7d00dd, #b14dfd);
    font-family: "lato", sans-serif;
}

section{
    background: rgb(0, 0, 0);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ddd;
    border-radius: 20px;
}

img{
    width: 300px;
    height: 300px;
}

.descricao{
    width: 300px;
}

h2{
    margin-bottom: 5px;
}

.duracao{
    width: 300px;
    margin-top: 10px;
}

.barra{
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress{
    height: 6px;
    width: 0%;
    background-color: #680075;
}

.ponto{
    width: 15px;
    height: 15px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -5px;
}

.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 0px;
}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.botao-play, .botao-p {
    font-size: 30px;
}

.botao-p{
    display: none;
}

.setas{
    font-size: 25px;
}
